@model IEnumerable<SafePoint.Models.Reservation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservation Lists</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    </p>
<table class="table">
    <tr>
        <th hidden>
            @Html.DisplayNameFor(model => model.HospId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospName)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResvTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td hidden>
            @Html.DisplayFor(modelItem => item.HospId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospName)
        </td>
        <td hidden>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResvTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @*@Html.ActionLink("Edit", "Edit", new { id=item.ResvId }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.ResvId })
                <span>|</span>
                @Html.ActionLink("Delete", "Delete", new { id = item.ResvId }, new { @style = "color:red;" })
            }
        </td>
    </tr>
}

</table>
