@model SafePoint.Models.Hospital

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HospName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNum)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetNum)

            @Html.DisplayFor(model => model.RoadName)

            @Html.DisplayFor(model => model.RoadSuffix)

            @Html.DisplayFor(model => model.RoadType)

            @Html.DisplayFor(model => model.State)

            @Html.DisplayFor(model => model.PostalCode)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.HospId })
        <span> | </span>
        @Html.ActionLink("Back to List", "Index")
    }
</p>

<div class="input-group date">
    <input id="datetime" type="text" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </div>
</div>

<p>Selected Appointment Time :</p>
<p id="afterpick"></p>
<p><button id="continue">Continue</button></p>


@section Scripts {

    @Scripts.Render("~/bundles/datetimepicker")

    <script type="text/javascript">
        var today = new Date();
        var date = today.getDate() + 1;
        var month = today.getMonth();
        var year = today.getFullYear();

        var dayNames = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
        if (dayNames[today.getDay()] == 'Sat') {
            date += 1;
        }
        var startDate = new Date(year, month, date, 9, 0);

        $(".date").datetimepicker({
            format: "dd/mm/yyyy hh:ii",
            autoclose: true,
            //todayBtn: true,
            daysOfWeekDisabled: '0',
            todayHighlight: true,
            startDate: startDate,
            minView: 1,
            minuteStep: 30,
            pickerPosition: "bottom-left"
        });

        $("#datetime").on("change paste keyup", function () {

            var datetime = document.getElementById("datetime").value;
            document.getElementById("afterpick").innerHTML = datetime;

            document.getElementById("continue").onclick = function () {
                location.href = "/Reservations/Create?date=" + datetime;
            };
        });
        
    </script>
}