@model SafePoint.Models.Hospital

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HospName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNum)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetNum)

            @Html.DisplayFor(model => model.RoadName)

            @Html.DisplayFor(model => model.RoadSuffix)

            @Html.DisplayFor(model => model.RoadType)

            @Html.DisplayFor(model => model.State)

            @Html.DisplayFor(model => model.PostalCode)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.HospId })
        <span> | </span>
        @Html.ActionLink("Back to List", "Index")
    }
</p>

<div class="input-group date">
    <input id="datetime" type="text" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </div>
</div>

<p id="afterpick"></p>


@section Scripts {

    @Scripts.Render("~/bundles/datetimepicker")

    <script type="text/javascript">
        var today = new Date();
        var date = today.getDate() + 1;
        var month = today.getMonth();
        var year = today.getFullYear();

        var dayNames = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
        if (dayNames[today.getDay()] == 'Sat') {
            date += 1;
        }
        var startDate = new Date(year, month, date, 9, 0);

        $(".date").datetimepicker({
            format: "dd-mm-yyyy hh:ii",
            autoclose: true,
            //todayBtn: true,
            daysOfWeekDisabled: '0',
            todayHighlight: true,
            startDate: startDate,
            minView: 1,
            minuteStep: 30,
            pickerPosition: "bottom-left"
        });

        var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        $("#datetime").on("change paste keyup", function () {
            
            var datetime = $("#datetime").val();
            var datePicked = datetime.split(' ')[0];
            var timePicked = datetime.split(' ')[1];
            var date = datePicked.split('-')[0];
            var month = datePicked.split('-')[1];
            var year = datePicked.split('-')[2];
            var hour = timePicked.split(':')[0];
            var mins = timePicked.split(':')[1];
            var datetimePicked = new Date(year, month - 1, date, hour, mins);
            var day = datetimePicked.getDay();
            var txt = "<p>Selected appointment time :</p><p>";
            var button = "</p><p><button id=\"continue\">Continue</button></p>";
            $("#afterpick").html(txt + dayNames[day] + ", " + date + " " + monthNames[datetimePicked.getMonth()] + " " + year + " at " + timePicked + button);

            var url = "/Reservations/Create?date=" + date + "-" + month + "-" + year + "T" + timePicked;
            $("#continue").click(function () {
                $(location).attr('href', url);
            });
        });
        
    </script>
}