@model SafePoint.Models.Hospital

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="row">
    <div class="col-xs-12 visible-xs">
        <p>this is only a test</p>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
        <div>
            <h4>Hospital</h4>
            <hr />
            <dl class="dl-horizontal" id="hospitals">
                <dt hidden>
                    @Html.DisplayNameFor(model => model.HospId)
                </dt>
                <dd hidden class="hospid">
                    @Html.DisplayFor(model => model.HospId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HospName)
                </dt>
                <dd class="hospname">
                    @Html.DisplayFor(model => model.HospName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HospType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HospType)
                </dd>

                @if (Model.LGA != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.LGA)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LGA)
                    </dd>
                }

                @if (Model.ServiceName != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.ServiceName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ServiceName)
                    </dd>
                }

                @if (Model.PhoneNum != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNum)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhoneNum)
                    </dd>
                }

                <dt>
                    Address
                </dt>
                <dd>
                    <address id="address">
                        @Html.DisplayFor(model => model.StreetNum)

                        @Html.DisplayFor(model => model.RoadName)

                        @Html.DisplayFor(model => model.RoadSuffix)

                        @Html.DisplayFor(model => model.RoadType)
                    </address>

                    <state id="state">
                        @Html.DisplayFor(model => model.State)
                    </state>

                    <postcode id="postcode">
                        @Html.DisplayFor(model => model.PostalCode)
                    </postcode>
                </dd>

            </dl>
        </div>

        <p>
            Select Date/Time:
        </p>
        <div class="input-group date col-md-5">
            <div>
                <input id="datetime" type="text" class="form-control" readonly>
            </div>
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>
        <p></p>
        <p id="afterpick"></p>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-5 visible-lg visible-md visible-sm col-xs-12">
        <h4>Upcoming Appointments</h4>
        <hr />

        @foreach (var item in ViewBag.reservations)
        {
            if (item.UserId == ViewBag.userid || User.IsInRole("Admin"))
            {
        <div class="resvRow @item.ResvTime.Year@item.ResvTime.Month@item.ResvTime.Day @item.ResvTime.Hour@item.ResvTime.Minute" time="@item.ResvTime">
            <dl class="dl-horizontal" id="appointments">
                <dt>
                    Hospital Name
                </dt>
                <dd>
                    @item.HospName
                </dd>

                <dt>
                    Appointment Time
                </dt>
                <dd>
                    @item.ResvTime
                </dd>

                <dt>
                    Description
                </dt>
                <dd>
                    @item.Title
                </dd>

            </dl>

            <a href="/Reservations/Details/@item.ResvId">See Reservation Details</a>

            <hr />
        </div>
            }
        }
    </div>
</div>

<p class="latitude"></p>
<p class="longitude"></p>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.HospId })
        <span> | </span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {

    @Scripts.Render("~/bundles/datetimepicker")

<script type="text/javascript">
    $(document).ready(function () {

        today = new Date();

        var resvTime = $(".resvRow").attr("time");
        var date = resvTime.split(" ")[0];
        var time = resvTime.split(" ")[1];
        var day = date.split("/")[0];
        var month = date.split("/")[1];
        var year = date.split("/")[2];
        var hour = time.split(":")[0];
        var min = time.split(":")[1];

        var next = new Date(year, month - 1, day, hour, min);
        var value = next.getTime() - today.getTime();
        if (value < 0) {
            $("." + year + month + day + "." + hour + min).hide();
        }
    });
</script>


}