@model IEnumerable<SafePoint.Models.Hospital>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hospital Lists</h2>

<div id="map" style="height:300px"></div>   

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create", "Locations", new { @class = "btn btn-primary" })
    }
    </p>
<table class="table">
    <thead>
        <tr>
            <th hidden></th>
            <th>
                @Html.DisplayNameFor(model => model.HospName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospType)
            </th>
            <th>
                Address
            </th>

            <th hidden></th>
            <th hidden></th>
            <th ></th>
            </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr class="coordinates">
            <td hidden class="hospID">
                @Html.DisplayFor(modelItem => item.HospId)
            </td>
            <td class="description">
                @Html.DisplayFor(modelItem => item.HospName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HospType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNum)
                @Html.DisplayFor(modelItem => item.RoadName)
                @Html.DisplayFor(modelItem => item.RoadSuffix)
                @Html.DisplayFor(modelItem => item.RoadType)
                @Html.DisplayFor(modelItem => item.State)
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td hidden class="latitude">
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td hidden class="longitude">
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.HospId })
                    <span> | </span>
                    @Html.ActionLink("Details", "Details", new { id = item.HospId })
                    <span> | </span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.HospId })
                }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
    @Scripts.Render("~/bundles/DataTables")

    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "columnDefs": [{
                    "targets": 6,
                    "orderable": false
                }]
            });
        });
    </script>
}