@model IEnumerable<SafePoint.Models.Hospital>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HospName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HospType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LGA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoadName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoadSuffix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoadType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HospName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LGA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoadName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoadSuffix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoadType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HospId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HospId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HospId })
        </td>
    </tr>
}

</table>
